$white: #fff;
$black: #000;
$light: #b5b5b7;
$dark: #252839;
$darker: #020022;
$accent: #c3edfe;
$cta: #52c034;
$focus: #cfc3fe;

* {
  font-size: 16px !important;
  font-family: helvetica, sans-serif;
  line-height: 26px;
}

body { background-color: lighten($light, 25%); }

small, .label, .sorting_options {
  font-size: 90% !important;
  opacity: 0.5;
}

div.label {
  display: block !important;
  &.req {
    background: none;
    &::after {
      margin-left: 3px;
      color: red;
      content: "*";
    }
  }
}

a {
  &, &:link, &:visited {
    color: $darker;
    padding: 5px 8px;
    border-radius: 5px !important;
    cursor: pointer;
  }
  &:hover {
    background-color: $accent;
  }
  &.current {
    border-color: darken($accent, 25%);
    background-color: $accent;
  }
}

tt {
  &, * {
    font-family: monospace;
  }
}
.comment {
  border: none;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 5px;

  &.highlight {
    background-color: #f6f6f6;
  }

  dt {
    margin: 10px;
    padding-left: 10px;
    border-left: solid 4px $accent;
    p {
      font-size: 105% !important;
    }
  }

  .buttons {
    padding: 0;
  }
}

.create_asset a, .title_tools a {
  background-color: #caffca;
  border: solid 1px darken(#caffca, 25%);
  color: darken(#caffca, 60%);
  padding-top: 5px;
  padding-bottom: 5px;
}

.title_tools #buttons a {
  background-color: transparent;
  border: none;
}

.subtitle {
  margin-bottom: 10px;
}

.remote {
  border: solid 1px lighten($light, 20%);
  border-radius: 5px;
  padding: 12px;
  margin-bottom: 40px;
  background-color: lighten($light, 25%);
  a.close {
    line-height: 16px;
    background-color: $white;
    border: none;
    &, &:link, &:visited {
      color: $darker;
      padding: 5px 8px;
      border-radius: 5px !important;
    }
    &:hover {
      background-color: $accent;
    }
  }
}

.subtitle {
  border: none;
}

.section {
  margin-bottom: 24px;
}

.buttonbar {
  border: none;
}

input[type="text"], input[type="password"] {
}

input[type="text"], input[type="password"], select {
  background-color: $white;
  border: solid 1px $light;
  border-radius: 4px;
  padding: 2px 6px;
  height: 26px;
  line-height: 26px;
  &:focus {
    outline: none;
    border-color: darken($focus, 15%);
    box-shadow: 0 0 0 2px $focus;
  }
}

textarea {
  border: solid 1px $light;
  border-radius: 4px;
  padding: 2px 6px;
  &:focus {
    outline: none;
    border-color: darken($focus, 15%);
    box-shadow: 0 0 0 2px $focus;
  }
}

select {
  height: 32px;
  line-height: 32px;
  position: relative;
  top: -1px;
  margin-right: 4px;
}

.select2 {
  .select2-selection, .select2-results {
    border: solid 1px $light !important;
  }
}

input[type="submit"] {
  color: $white;
  background-color: $cta;
  border: solid 1px darken($cta, 12%);
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
}

.errorExplanation {
  margin: 0 0 20px 0;
  border-radius: 5px;
  box-shadow: 2px 2px 4px lighten($light, 15%), -2px 0px 4px lighten($light, 15%);
}

.sidebar { min-width: 320px; }
.top { margin: 0; }
#flash {
  width: 100%;
  display: flex;
  color: $black;
  text-shadow: none;
  &.flash_notice { background-color: $accent; }
}

.panel, .main, .filters, .section, .menu, .bucket {
  padding: 14px;
  background-color: $white !important;
  border: solid 1px lighten($light, 10%);
  border-radius: 5px;
  box-shadow: 2px 2px 4px lighten($light, 15%), -2px 0px 4px lighten($light, 15%);
}

.filters {
  table {
    td {
      border: none;
      background-color: transparent;
      opacity: 0.4;
      border-radius: 0;
      &.off {
        border-bottom: solid 4px $light;
        &:hover {
          border-color: lighten($dark, 27%);
        }
      }
      &.on {
        font-weight: bold;
        opacity: 1;
        border-bottom: solid 4px lighten($dark, 25%);
      }
    }
  }
  .check_box {
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    &:hover {
      background-color: $accent;
    }
    &.total {
      padding-top: 6px;
      border-top: solid 1px $light;
      border-radius: 0;
      &:hover {
        background-color: transparent;
      }
    }
    input, label {
      cursor: pointer;
    }
    label {
      margin-left: 3px;
    }
  }
}

.log {
  border: solid 1px lighten($light, 20%);
  border-radius: 5px;
  padding: 12px;
  background-color: lighten($light, 25%);
  h3 {
    color: $dark !important;
    border: none !important;
    padding: 0;
    margin-bottom: 0;
  }
  .bucket {
    margin-bottom: 16px;
  }
  input {
    float: none;
  }
}

.standalone {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.fa {
  opacity: 0.6;
  &, &::before {
    display: inline-block;
    width: 16px;
  }
  &.fa-chevron-right, &.fa-chevron-down {
    margin-right: 3px;
  }
}

.strip {
  &, * {
    text-transform: lowercase;
  }
  &.new {
    color: darken(#c0fdb9, 50%);
    background-color: #c0fdb9 !important;
  }
  &.rejected {
    color: darken(#fca5a9, 50%);
    background-color: #fca5a9 !important;
  }
}

.list {
  li {
    border-bottom: solid 1px lighten($light, 20%);
  }
}

.title, .caption {
  color: $dark !important;
  border: none !important;
  margin-bottom: 18px;
  &, * {
    font-size: 22px !important;
  }
}

.highlight {
  &.task {
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
  }
  &:hover {
    background-color: lighten($accent, 10%);
  }
  a {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  input[type='checkbox'] {
    float: none;
    margin: 0 0 0 5px;
  }
  .indentwide {
    display: inline-block;
    margin-left: 0;
  }
  .strip { font-size: 12px !important; }
  .call { background-color: #d3caff !important; }
  .lunch { background-color: #caffca !important; }
  .email { background-color: #caf2ff !important; }
  .meeting { background-color: #ffcaca !important; }
  .presentation { background-color: #f7c4e3 !important; }
  .trip { background-color: #ffe997 !important; }
  .money { background-color: #8eeb8b !important; }
  .follow_up { background-color: #ffd497 !important; }
  .white { color: $black !important; }
}

ul.tools li {
  border: none;
}

.tabs {
  background-color: $dark;
  li {
    position: relative;
    top: -10px;
    a:link, a:visited {
      background-color: lighten($dark, 25%);
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      opacity: 0.9;
      &.active {
        opacity: 1;
        background-color: lighten($light, 25%);
      }
    }
    a:hover {
      color: $white;
      opacity: 1;
    }
  }
}

.tags {
  padding-top: 10px;
}

#header {
  background-color: $dark;
  text-align: right;
  #welcome {
    position: relative;
    top: -5px;
    float: none;
    a {
      margin-left: 6px;
      color: $white;
      opacity: 0.6;
      &:hover, &.selected {
        background: transparent;
        color: $white;
        opacity: 1;
      }
    }
  }
  &, * {
    font-weight: lighter;
  }
}

#search {
  .tabs li a, .tabs li a:link, .tabs li a:visited {
    background-color: transparent;
    &.active {
      background-color: lighten($light, 25%);
    }
  }

  .search_form {
    background-color: lighten($light, 25%);
    border-radius: 5px;
  }
}

#search_results_count {
  float: right;
  opacity: 0.3;
  font-size: 12px !important;
}
